header {
  padding: 20px 0; }
  header nav li {
    margin: 0 20px; }
    header nav li:hover a {
      color: #FF8126; }
    header nav li a {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #1F1F1F;
      transition: 0.3s;
      border: none;
      width: auto;
      height: auto; }
