.main_banner {
  background-image: url("../images/main_banner.jpg");
  background-size: cover;
  padding-top: 125px;
  padding-bottom: 195px; }
  .main_banner h1 {
    font-family: 'Cormorant', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #1F1F1F;
    margin-bottom: 5px; }
  .main_banner h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    color: #1F1F1F;
    margin-bottom: 40px; }
